<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/essential/head :: head">Head</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
    <div th:replace="fragments/essential/top_bar :: top_bar">Top Bar</div>
    <header th:replace="fragments/essential/header :: header">Navbar Header</header>

    <section id="page-title" style="background-image: url('/images/photo_silk_page_main.png');">
        <div class="col-4 center">
            <div class="rounded" >
                <h1 class="rounded animated fadeIn fast" style="color: #e35f5f; background-color: black">Photo Silk<i class="icon-copyright" style="font-size: small"></i></h1>
            </div>
        </div>
    </section><!-- #page-title end -->
    <!--i-circled icon-ok-->
    <section id="content">
        <div class="content-wrap">
            <div class="container-fluid px-5 clearfix">
                <div class="row col-mb-50">
                    <div class="w-100"></div>
                    <div class="col-md-8">
                        <h4>Vollfarbiger CMYK-Siebdrucktransfer mit fotorealistischem Effekt. Es werden 4 Grundfarben verwendet</h4>
                        <p><h5>Was ist der Unterschied?</h5>
                        Mit dem klassischen Siebdruck Photo Silk Transfer können wir einen Siebdruck mit einer unbegrenzten Anzahl von Farben, Farbgradienten und Blendfarben erstellen.
                        Der Siebdrucktransfer ist „fotorealistisch“, weil es 4 Grundfarben verwendet werden - Cyan, Magenta, Gelb, Key (Schwarz). Durch sie können wir eine unbegrenzte Vielfalt an Farben erzielen, was bei den Standardfarben zu schwierig wäre.
                        Ein weiterer wesentlicher Unterschied zu anderen Transferarten besteht darin, dass wir bei der Photo Silk Technologie keine vollständige Farbgenauigkeit erzielen können, da jede Farbe als Prozentsatz zwischen den vier Grundfarben gedruckt wird.
                        </p>
                        <p>
                            Für ein vollfarbiges Design wäre der geeignetere Dateityp Bitmap (Photoshop oder ein anderer).
                            Um mit dem Transferdruck zu beginnen, müssen Sie uns die Größe des Drucks sowie die erforderliche Menge mitteilen.
                            Wenn Sie möchten, können Sie hier unsere <a href="/preisrechner"> Preise pro Bogen berechnen</a> oder uns direkt per E-Mail kontaktieren.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h3>PhotoSilk Bilder</h3>

                        <div class="masonry-thumbs grid-container grid-3 clearfix">
                            <a class="grid-item" href="/images/portfolio/4/4.jpg" data-lightbox="image">
                                <div class="grid-inner">
                                    <img src="/images/portfolio/4/4.jpg" alt="CMYK Siebdrucktransfer">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content dark">
                                            <i class="icon-line-plus h4 mb-0" data-hover-animate="fadeIn"></i>
                                        </div>
                                        <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                                    </div>
                                </div>
                            </a>
                            <a class="grid-item" href="/images/portfolio/4/7.jpg" data-lightbox="image">
                                <div class="grid-inner">
                                    <img src="/images/portfolio/4/7.jpg" alt="Vollfarbiger-Transfer">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content dark">
                                            <i class="icon-line-plus h4 mb-0" data-hover-animate="fadeIn"></i>
                                        </div>
                                        <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                                    </div>
                                </div>
                            </a>
                            <a class="grid-item" href="/images/portfolio/4/18.jpg" data-lightbox="image">
                                <div class="grid-inner">
                                    <img src="/images/portfolio/4/18.jpg" alt="CMYK-Transfer">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content dark">
                                            <i class="icon-line-plus h4 mb-0" data-hover-animate="fadeIn"></i>
                                        </div>
                                        <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divider p-0 m-0"></div>
    </section>

    <section id="content">
        <div class="container-fluid px-5 clearfix">
            <div class="row col-mb-50">
                <div class="col-md-8 pt-0">
                    <div class="tabs side-tabs mb-0 clearfix" id="tab-6">

                        <ul class="tab-nav tab-nav2 clearfix">
                            <li><a href="#tabs-21">Vorteile</a></li>
                            <li><a href="#tabs-22">Geeignete Materialien</a></li>
                            <li><a href="#tabs-23">Eigenschaften</a></li>
                            <li class="hidden-phone"><a href="#tabs-24">Extras</a></li>
                        </ul>

                        <div class="tab-container ml-4">
                            <div class="tab-content clearfix" id="tabs-21">
                                <ul class="clearfix">
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Fotorealistischer Effekt</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Mit nur 4 Grundfarben wird eine breite Farbpalette erzielt</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Elastizität des Siebdrucks</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Möglichkeit zur Kombination mit Sonderfarben</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Hohe Deckkraft bei dunklen Stoffen</li>
                                </ul>
                            </div>
                            <div class="tab-content clearfix" id="tabs-22">
                                <ul>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Baumwolle, Polyester, Spandex, und andere</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> T-Shirts, Kappen, Rucksäcke, Sportbekleidung</li>
                                </ul>
                            </div>
                            <div class="tab-content clearfix" id="tabs-23">
                                <ul>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Übertragung des Siebdrucks auf die Textilien bei 180°C (mit der Möglichkeit auch bei niedrigeren Temperaturen zu übertragen)</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Waschbeständigkeit – bei 40°C (mit der Möglichkeit für eine höhere Waschbeständigkeit)</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Das Transferpapier wird nach Ihrer Wahl kalt (empfohlen) oder heiß abgezogen</li>
                                </ul>
                            </div>
                            <div class="tab-content clearfix" id="tabs-24">
                                <ul>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Unterstützung bei der Fertigstellung des Entwurfs</li>
                                    <li style="list-style-type: none;" class="pb-1"><i class="icon-check-circle" style="color: #2dc26b"></i> Vektorisierung von Bitmap-Projekten</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="/PhotoSilk.png" style="height: 70%" alt="PhotoSilk Logo">
                </div>
            </div>
        </div>
        <div class=" p-4 m-0"></div>
    </section>
    <section id="content">
        <div class="container-fluid px-5 clearfix">
            <div class="row col-mb-50">
                <div class="col-md-12 pt-0">

                    <div class="promo promo-dark promo-uppercase p-4 p-md-5 mb-5">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg ">
                                <h3><span class="text-success animated fadeIn repeat-infinit slow">-20% Rabatt</span> bei Erstbestellung. Kontaktieren Sie uns hier</h3>
                            </div>
                            <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                                <a href="/kontakt/" class="btn btn-lg btn-outline-success m-0">Kontakt</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container-fluid px-5 clearfix">
            <div class="row col-mb-50">
                <div class="col-md-12 pt-0">

                    <div class="promo mb-5">
                        <div class="row align-items-center m-4">
                            <div class="col-12 col-lg">
                                <h3>Berechnen Sie hier <span>einen Preis</span></h3>
                                <span>Mindestmenge - 25 gedruckte Bögen. Maximale Farben - unbegrenzt.</span>
                            </div>
                            <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                                <a href="/preisrechner" class="button button-large button-circle m-0">Plastisoltransfer Preis</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <footer th:replace="fragments/essential/footer :: footer">Footer</footer>


</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.min.js"></script>
<script src="/js/functions.js"></script>


<!-- Footer Scripts
============================================= -->


</body>
</html>