<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/essential/head :: head">Head</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
    <div th:replace="fragments/essential/top_bar :: top_bar">Top Bar</div>
    <header th:replace="fragments/essential/header :: header">Navbar Header</header>

    <!-- Content
		============================================= -->
    <section id="content">
        <div class="content-wrap" th:object="${invoice}">
            <div class="container clearfix">
                <h2>Proforma INVOICE</h2>
                <div class="row col-mb-50">
                    <div class="col-md-6">
                        <h4>Issuer</h4>
                        <b><span>Megaprint Transfers LTD</span></b><br>
                        <span>Alex Dimov</span><br>
                        <span>BG148051297</span><br>
                        <span>Bulgaria, Varna, Vaigand 9000</span><br>
                    </div>
                    <div class="col-md-6">
                        <h4>Receiver:</h4>
                        <b><span th:text="|*{users.invoiceDetails.companyName}|"></span></b><br>
                        <span th:text="|*{users.invoiceDetails.nameIssuedTo}|"></span><br>
                        <span th:text="|*{users.invoiceDetails.vatNumber}|"></span><br>
                        <span th:text="|*{users.invoiceDetails.country}, *{users.invoiceDetails.companyAdress}|"></span><br>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Colors</th>
                                <th>Price per piece</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="active" th:each="order : ${invoice.orders}" th:object="${order}">
                                <td th:text="*{orderCode}"></td>
                                <td th:text="*{transferCategory}"></td>
                                <td th:text="*{orderName}"></td>
                                <td th:text="*{quantity}"></td>
                                <td th:text="*{numOfColors}"></td>
                                <td th:text="|*{pricePerUnit} *{currency}|"></td>
                                <td th:text="|*{totalPrice} *{currency}|">></td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <th:block>
                        <div class="col-md-12">


                        </div>
                    </th:block>


                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/essential/footer :: footer">Footer</footer>


</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.min.js"></script>
<script src="/js/functions.js"></script>


<!-- Footer Scripts
============================================= -->


</body>
</html>