<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Content
            ============================================= -->
<section id="content" th:fragment="p_home_content">
    <div class="content-wrap">

        <div class="promo promo-light promo-full bottommargin-lg header-stick border-top-0 p-5">
            <div class="container clearfix">
                <div class="row align-items-center">
                    <div class="col-12 col-lg">
                        <h3 th:text="#{section_calculator}">Berechnen Sie Ihren Preis für <span>den Transferdruck.<br></span>Fügen Sie zusätzliche
                            Extras hinzu.</h3>
                    </div>
                    <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                        <a href="/preisrechner" class="button button-large button-circle m-0" th:text="#{calculator_button}">Transferrechner</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container clearfix">

            <div class="row col-mb-50">
                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box fbox-center fbox-light fbox-effect border-bottom-0">
                        <div class="fbox-icon">
                            <i class="i-alt border-0 icon-tint"></i>
                        </div>
                        <div class="fbox-content">
                            <h3 th:text="#{advantages_1}">Unbegrenzte Anzahl von Pantone-Farben<span class="subtitle" th:text="#{sub_advantages_1}">Wählen Sie so viele, wie Sie brauchen</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box fbox-center fbox-light fbox-effect border-bottom-0">
                        <div class="fbox-icon">
                            <i class="i-alt border-0 icon-line-box"></i>
                        </div>
                        <div class="fbox-content">
                            <h3 th:text="#{advantages_2}">Schnelle Lieferzeit<span
                                    class="subtitle" th:text="#{sub_advantages_2}">Produktionszeit zwischen 2 und 5 Tagen</span></h3>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box fbox-center fbox-light fbox-effect border-bottom-0">
                        <div class="fbox-icon">
                            <i class="i-alt border-0 icon-chart"></i>
                        </div>
                        <div class="fbox-content">
                            <h3 th:text="#{advantages_3}">Rabatte für Stammkunden<span th:text="#{sub_advantages_3}" class="subtitle">Rabatte von 5% bis 15%</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="feature-box fbox-center fbox-light fbox-effect border-bottom-0">
                        <div class="fbox-icon">
                            <i class="i-alt border-0 icon-line-circle-minus"></i>
                        </div>
                        <div class="fbox-content">
                            <h3 th:text="#{advantages_4}">Keine zusätzlichen Gebühren<span class="subtitle" th:text="#{sub_advantages_1}">Alle Preise verstehen sich ohne zusätzliche Gebühren</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>
            <!-- VIDEO-->
            <div class="row col-mb-50">
                <div class="col-md-5">
                    <a href="https://www.youtube.com/watch?v=8-_aJttifsg"
                       class="d-block position-relative rounded overflow-hidden" data-lightbox="iframe">
                        <img src="/images/others/1.jpg" alt="Film Preview" class="w-100">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark">
                                <i class="i-circled i-light icon-line-play m-0"
                                   style="background-color: #e35f5f"></i>
                            </div>
                            <div class="bg-overlay-bg op-06 dark"></div>
                        </div>
                    </a>
                </div>

                <div class="col-md-7">
                    <div class="heading-block">
                        <h2 th:text="#{about_us_title}">LIEFERUNG NACH DEUTSCHLAND INNERHALB WENIGER TAGE</h2>
                    </div>

                    <p th:text="#{about_us_paragraph}">Wir verschicken unsere Siebdrucktransfers in mehr als 20 Länder. Wir haben jetzt das Projekt
                        Transferhall eingeleitet, um unseren Kunden in Deutschland näher zu kommen.
                        Unsere Siebdrucktransfers und Dienstleistungen bleiben unverändert:
                    </p>

                    <div class="row col-mb-30">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <ul class="iconlist iconlist-color mb-0">
                                <li><h4 th:text="#{about_us_col_1_title}"><i class="icon-leaf" style="color: green"></i> Umweltfreundlich</h4></li>
                                <li th:text="#{col_1_1}"><i class="icon-caret-right"></i> Phthalatfrei</li>
                                <li th:text="#{col_1_2}"><i class="icon-caret-right"></i> PVC-frei</li>
                                <li th:text="#{col_1_3}"><i class="icon-caret-right"></i> Druckfarben auf Plastisol- und Wasserbasis</li>
                                <li th:text="#{col_1_4}"><i class="icon-caret-right"></i> Oeko-Tex Druckfarben</li>
                                <li th:text="#{col_1_5}"><i class="icon-caret-right"></i> Geeignet für viele Arten von Textilien</li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <ul class="iconlist iconlist-color mb-0">
                                <li><h4 th:text="#{about_us_col_2_title}"><i class="icon-line2-earphones-alt" style="color: #e35f5f"></i>Dienstleistungen
                                </h4></li>
                                <li th:text="#{col_2_1}"><i class="icon-caret-right"></i> Persönliche Beziehung zu unseren Kunden</li>
                                <li th:text="#{col_2_2}"><i class="icon-caret-right"></i> Unterstützung bei der Fertigstellung des
                                    Entwurfs
                                </li>
                                <li th:text="#{col_2_3}"><i class="icon-caret-right"></i> Günstige Frachtkosten</li>
                                <li th:text="#{col_2_4}"><i class="icon-caret-right"></i> Erschwingliche Preise</li>
                                <li th:text="#{col_2_5}"><i class="icon-caret-right"></i> Mehrere Transferdrucklösungen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- PARALLAX SECTION-->
        <div class="section topmargin-lg">
            <div class="section parallax m-0 border-top-0 dark"
                 style="background-image: url('/images/liebe_zum_detail.jpg'); padding: 100px 0;"
                 data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
                <div class="container clearfix">

                    <div class="emphasis-title center">
                        <h2 style="font-size: 52px;" th:text="#{attention_to_details}">Liebe zum Detail</h2>
                    </div>


                </div>
            </div>
        </div>


        <!--PORTFOLIO-->
        <div class="container clearfix">

            <div class="heading-block center">
                <h3><span th:text="#{gallery_section_title}">Echte Beispielsfotos von Siebdrucktransfers</span></h3>
                <span th:text="#{sub_gallery_section_title}">Übersicht einiger abgefertigter Bestellungen</span>
            </div>

            <div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="1"
                 data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3"
                 data-items-xl="4">

                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/1.jpg" alt="Open Imagination">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/4/1.jpg" class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/multi-spot">#MultiSpot</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/2.jpg" alt="Locked Steel Gate">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/2.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/images/single-spot">#SingleSpot</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/3.jpg" alt="SingleSpot Transfer">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/3.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/multi-spot">#MultiSpot</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/4.jpg" alt="SingleSpot Transfer">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/4.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/photo-silk">#PhotoSilk</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/5.jpg" alt="Siebdrucktransfer Bild">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/5.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/multi-spot">#MultiSilk</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/6.jpg" alt="Heat Transfer Photo">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/6.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/multi-spot">#MultiSilk</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/7.jpg" alt="Mehrfarbig Transfer">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/7.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/photo-silk">#PhotoSilk</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/images/portfolio/4/8.jpg" alt="Raster-Transfer">
                        <div class="bg-overlay">
                            <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
                                <a href="/images/portfolio/full/8.jpg"
                                   class="overlay-trigger-icon bg-light text-dark"
                                   data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall"
                                   data-hover-speed="350" data-lightbox="image"><i class="icon-line-plus"></i></a>
                            </div>
                            <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"
                                 data-hover-speed="350"></div>
                        </div>
                    </div>
                    <!-- Decription: Start -->
                    <div class="portfolio-desc">
                        <h3><a href="/multi-spot">#MultiSilk</a></h3>
                    </div>
                    <!-- Description: Start -->
                </div>

            </div>
        </div>


        <div class="container clearfix">

            <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel carousel-widget"
                 data-margin="30" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false"
                 data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6"
                 style="padding: 20px 0;">

                <div class="oc-item"><img src="/images/clients/1.png" alt="McLarenLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/2.png" alt="HugoBossLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/3.png" alt="DBLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/4.png" alt="MomaxLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/5.png" alt="JackWofskinLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/6.png" alt="RedBullLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/7.png" alt="HeadLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/8.png" alt="SwissLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/9.png" alt="HondaLogo_Clients"></div>
                <div class="oc-item"><img src="/images/clients/10.png" alt="FerrariLogo_Clients"></div>

            </div>

        </div>

        <a href="/transfer-galerie" class="button button-full center text-right footer-stick">
            <div class="container clearfix" th:text="#{btn_to_gallery}">
                Schauen Sie sich unsere Galerie an.<strong> Zur Galerie...</strong> <i class="icon-caret-right"
                                                                                       style="top:4px;"></i>
            </div>
        </a>
    </div>
</section><!-- #content end -->
</body>
</html>