<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer
            ============================================= -->
<footer id="footer" class="dark" style="background: url('/images/footer-bg.jpg') repeat; background-size: cover;"
th:fragment="footer">
    <div class="container">
        <!-- Footer Widgets
                    ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50">
                <div class="col-md-8">
                    <div class="widget clearfix">

                        <img src="/images/transferhall_white.png" alt="Transferhall Weiß Logo" class="alignleft"
                             style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                        <p th:text="#{footer_presentation}"><i>transferhall.</i> ist eine Online-Lösung von
                            <stron>Megaprint Transfers</stron>
                            .
                            Wenn Sie eine langfristige Partnerschaft anstreben oder Empfehlungen haben, kontaktieren
                            Sie uns.
                        </p>

                        <div class="line" style="margin: 30px 0;"></div>

                        <div class="col-12"><p>NÜTZLICHE LINKS</p></div>
                        <div class="row col-mb-30">
                            <div class="col-6 col-lg-3 widget_links">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/uber-uns">Über uns</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-lg-3 widget_links">
                                <ul>
                                    <li><a href="/single-spot">Single Spot</a></li>
                                    <li><a href="/multi-spot">Multi Spot</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-lg-3 widget_links">
                                <ul>
                                    <li><a href="/photo-silk">Photo Silk</a></li>
                                    <li><a href="/transfer-galerie">Galerie</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-lg-3 widget_links">
                                <ul>
                                    <li><a href="/preisrechner">Preisrechner</a></li>
                                    <li><a href="/druckmethode">Druckmethode</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">

                    <div class="py-2">
                        <div class="row col-mb-30">
                            <div class="col-6">
                                <address class="mb-0">
                                    <abbr title="Deutsche Repräsentanz"
                                          style="display: inline-block;margin-bottom: 7px;"><strong th:text="#{footer_office}">Geschäftsstelle
                                        Deutschland:</strong></abbr><br>
                                    House A, 1st floor, Edisonstraße 63<br>
                                    Berlin, Berlin, 12459, Deutschland<br>
                                </address>
                            </div>
                            <div class="col-6">
                                <abbr title="Telefon Deutschland"><strong th:text="#{footer_phone}">Telefonnummer Deutschland:</strong></abbr>
                                08001808979<br>
                                <abbr title="Email"><strong>Email:</strong></abbr> office1@transferhall.de<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="row justify-content-between col-mb-30">
                <div class="col-12 col-lg-auto text-center text-lg-left">
                    Copyrights &copy; 2020 Transferhall
                </div>


            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->
</body>
</html>