<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8"/>


    <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
    <meta name="author" content="SemiColonWeb"/>



    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/min.bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.dark.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.animate.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/css/min.colors.css" type="text/css"/>


    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Document Title
    ============================================= -->
    <!--    Set the title to every page</title>-->

    <!-- Favicon
    ============================================= -->
    <link rel="icon"
          type="image/ico"
          href="/images/favicon.ico">

    <!--    REACT CDN-->
    <script src='https://unpkg.com/react@16.3.1/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

</head>
</html>