<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- SLIDER -->
<!--<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header"-->
<!--th:fragment="slider">-->
<!--    <div class="slider-inner">-->

<!--        <div class="swiper-container swiper-parent">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="swiper-slide dark">-->
<!--                    <div class="container">-->
<!--                        <div class="slider-caption slider-caption-center rounded">-->
<!--                            <h2 class="rounded animated pulse fast" style="color: #e35f5f; background-color: black">-->
<!--                                Siebdrucktransfer</h2>-->
<!--                            <p class="d-none d-sm-block rounded" style="color: #e35f5f; background-color: black"-->
<!--                               data-animate="fadeInUp" data-delay="50">-->
<!--                                Geeignet für fast alle Stoffe. Schnelle und einfache Dekoration Ihrer Textilien.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="swiper-slide-bg"-->
<!--                         style="background-image: url('/images/slider/swiper/1.jpg');"></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--        <a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i-->
<!--                class="icon-angle-down infinite animated fadeInDown"></i></a>-->

<!--    </div>-->
<!--</section>-->

<!--TODO-->
<section th:fragment="slider" id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-autoplay="7000" data-speed="650" data-loop="true">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">Welcome to Canvas</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/swiper/1.jpg');"></div>
                </div>
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-animate="fadeInUp">VIDEO Beautifully Flexible</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="500">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video id="slide-video" poster="images/videos/deskwork.jpg" preload="auto" loop autoplay muted>
                            <source src='images/videos/deskwork.webm' type='video/webm' />
                            <source src='images/videos/deskwork.mp4' type='video/mp4' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp">Great Performance</h2>
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;"></div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
</body>
</html>